<div class="page-content">
<div class="row">
<div class="col-sm-10 col-sm-offset-1" >
    <div id="login-box" class="login-box visible widget-box with-border" >
        <div class="widget-body" style="border:1px solid gray;padding:20px 30px;">
            <div class="widget-main" ng-controller="activationCtrl">
            <div class="" style="text-align:center;"><img src="dist/img/logo.jpg" /></div>
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    User Accout Activation
                </h4>

                <div class="space-16"></div>

              	
					<div class="alert alert-success alert-dismissible" ng-show="userActivation.status == 'success'">
	                
	                <h4> Dear {{userActivation.userID}},</h4>
	                <span id="success_message"><i class="icon fa fa-check"></i>{{userActivation.message}}</span>
	              </div>

					<div class="alert alert-danger alert-dismissible" ng-show="userActivation.status == 'error'">
	                
	                <h4> Dear {{userActivation.userID}},</h4>
	                <span id="success_message"><i class="icon fa fa-ban"></i>{{userActivation.message}}</span>
	              </div>
		                   Click <a href="#!/login">here</a> to login your account
	
            </div><!-- /widget-main -->

            
        </div><!-- /widget-body -->
    </div><!-- /login-box -->

</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->
 <!-- <script>
    $(function(){
    	//$("body").addClass("layout-top-nav");
    	$("body").removeClass("sidebar-collapse");
    	$("#mainHeader").addClass("hide");
    	$("#leftToggleNav").addClass("hide");
    	$("#leftSidebar").addClass("hide");
    	
    	$("#mainNavbar").addClass("hide");
    	
    });
    </script> -->