<div class="page-content" ng-controller="resetpwdCtrl">
<div class="row">
<div class="col-sm-10 col-md-6 col-sm-offset-3" >
    <div id="login-box" class="login-box2 visible widget-box with-border" >
        <div class="widget-body" style="border:1px solid gray;padding:20px 30px;">
            <div class="widget-main">
            <div class="" style="text-align:center;"><img src="dist/img/logo.jpg" /></div>
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    Reset Password
                </h4>

                <div class="space-16"></div>

	<div class="success_message">
		<div id="success-alert" class="alert alert-success alert-dismissible" ng-show="userResetActivation.status == 'success'">
		<h4><i class="icon fa fa-check"></i> Success!</h4>
		<span id="success_message">Password is reset successfully.</span>
		</div>
	
	</div>
	<div id="validation-message">
	<div id="success-alert" class="alert alert-danger alert-dismissible" ng-show="userResetActivation.status == 'error'">
		<h4><i class="icon fa fa-ban"></i> Error!</h4>
		<span id="success_message">{{userResetActivation.message}}</span>
		</div>
	
	</div>

<div  ng-show="userResetActivation.status == 'Not Expried'">
    
    	<form method="POST" id="formChangePwd" name="formChangePwd"
		class="form-horizontal" ng-submit="">
					<div class="form-group has-feedback">
						<label class="col-sm-5 control-label no-padding-right"
							for="password">New Password</label>
							
							
							<!--<div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" name = "password" placeholder="Password" ng-model="signup.password" required/>
                                <small class="error" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password. Passwords must contain atleast 8 character including UPPER / lower case, special character & numbers.</small>
                            </span>
                                </div>
							-->
							
							
						<div class="col-sm-7">
							<span class="block input-icon input-icon-right"> <input
								type="password" class="form-control" name="newpassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
								placeholder="Password" ng-model="resetpwd.newpassword" required />
							
								<span
						class="glyphicon glyphicon-lock form-control-feedback"></span> 
						
								<small	class="error"
								data-ng-show="formChangePwd.newpassword.$dirty && formChangePwd.newpassword.$invalid">Enter Password. Passwords must contain atleast 8 character including UPPER / lower case, special character & numbers.</small>
									 <!-- <small class="error" data-ng-show="formChangePwd.newpassword.$dirty && !formChangePwd.newpassword.$error.passwordNoMatch && !formChangePwd.newpassword.$error.required">
									Old password and new password has same.</small> -->
							</span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="col-sm-5 control-label no-padding-right"
							for="password2">Confirm Password</label>
						<div class="col-sm-7">
							<span class="block input-icon input-icon-right"> <input
								type="password" class="form-control" name="confirmpassword"
								placeholder="Password Again" ng-model="resetpwd.confirmpassword"
								password-match="resetpwd.newpassword" required /> 
								<span
						class="glyphicon glyphicon-lock form-control-feedback"></span><small
								class="error"
								data-ng-show="formChangePwd.confirmpassword.$dirty && formChangePwd.confirmpassword.$error.required">
									Enter password again.</small> <small class="error"
								data-ng-show="formChangePwd.confirmpassword.$dirty && formChangePwd.confirmpassword.$error.passwordNoMatch && !formChangePwd.confirmpassword.$error.required">
									Password do not match.</small>

							</span>
						</div>
					</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						ng-click="resetPassword(resetpwd)"
						data-ng-disabled="formChangePwd.$invalid">Reset Password</button>
				</div>
	</form>
              	
<!-- 		<form name="frmReset" id="frmReset" method="post" ng-submit="resetPassword(resetpwd)" >
		
		
				
	<div class="form-group field-group">
		<div><label for="Password">Password</label></div>
		<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password"
						name="newpassword" id="newpassword" ng-model="resetpwd.newpassword" required> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
						<small	class="error"
								data-ng-show="frmReset.newpassword.$dirty && frmReset.newpassword.$error.required">Enter
									New Password.</small>
								
				</div>
		
	</div>
	<div class="form-group field-group">
		<div><label for="Password">Confirm Password</label></div>
		<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Confirm Password"
						name="confirmpassword" id="confirmpassword" ng-model="resetpwd.confirmpassword" password-match="resetpwd.newpassword" required> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
						 <small
								class="error"
								data-ng-show="frmReset.confirmpassword.$dirty && frmReset.confirmpassword.$error.required">
									Enter password again.</small> <small class="error"
								data-ng-show="frmReset.confirmpassword.$dirty && frmReset.confirmpassword.$error.passwordNoMatch && !frmReset.confirmpassword.$error.required">
									Password do not match.</small>
		
				</div>
		
	</div>
	<div class="field-group">
		<div><input type="submit" name="reset-password" id="reset-password" value="Reset Password" class="btn btn-primary btn-block btn-flat" data-ng-disabled="formReset.$invalid"></div>
	</div>	

   <a href="#!/">I have password</a><br> 
				<a href="#!/signup"	class="text-center">Register a new account</a>
                
                </form>
 --></div>
                
                
            </div><!-- /widget-main -->

            
        </div><!-- /widget-body -->
    </div><!-- /login-box -->

</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->
 <!-- <script>
    $(function(){
    	//$("body").addClass("layout-top-nav");
    	$("body").removeClass("sidebar-collapse");
    	$("#mainHeader").addClass("hide");
    	$("#leftToggleNav").addClass("hide");
    	$("#leftSidebar").addClass("hide");
    	
    	$("#mainNavbar").addClass("hide");
    	
    });
    </script> -->